<section>
    <section class="contact-us">
        <div class="panel panel-no-panels">
            <div class="panel-body" style="font-weight:normal;">
                <h2>Thank You!</h2>
                <h4>
                    You are now logged off.<br /><br />
                    To place another order, click <a href="catalog">here</a><br />
                    If you are done ordering, you can close your browser now.<br />
                    Have questions or need help?  Click <a href="contactus">here</a><br />
                </h4>
            </div>
        </div>
    </section>
</section>
