<loadingindicator ng-show="searchLoading" title="{{'Please wait while we fetch all products' | r}}" />
<section class="search-view">
    <div class="panel panel-search">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{'Search' | r | xlat}}
            </h3>
        </div>
        <div ng-show="productCount == 0" class="panel-product-list">
            <p class="alert alert-info">
                {{'Your search resulted in no records. Please refine your search.' | r | xlat}}
            </p>
        </div>
        <div class="panel-footer" ng-show="productCount > settings.pageSize">
            <pagination page="settings.currentPage" max-size="10" rotate="false" boundary-links="true" total-items="productCount"
                        items-per-page="settings.pageSize" direction-links="true" previous-text="{{'Previous' | xlat}}" next-text="{{'Next' | xlat}}" first-text="{{'First' | xlat}}" last-text="{{'Last' | xlat}}"></pagination>
        </div>
        <div ng-show="productCount > 0" class="panel-product-list">
            <nav class="nav">
                <ul>
                    <li class="inline minimal" id="451_lst_prod" ng-repeat="product in products | paginate:(settings.currentPage-1) * settings.pageSize | limitTo:settings.pageSize | orderBy:sorter:direction">
                        <div class="well">
                            <shortproductviewminimal p="product" user="user" />
                        </div>
                    </li>

                </ul>
            </nav>
        </div>
        <div class="panel-footer" ng-show="productCount > settings.pageSize">
            <pagination page="settings.currentPage" max-size="10" rotate="false" boundary-links="true" total-items="productCount"
                        items-per-page="settings.pageSize" direction-links="true" previous-text="{{'Previous' | xlat}}" next-text="{{'Next' | xlat}}" first-text="{{'First' | xlat}}" last-text="{{'Last' | xlat}}"></pagination>
        </div>
    </div>
</section>